<strong>CONFIRME SUA CONSULTA</strong>
<p>Atenção precisamos da confirmação de sua consulta.</p>
<p>Clique <a href="https://form-calendar.netlify.app/confirm-activity/{{ activity }}" target="_blank">aqui</a>
