<strong>CONFIRME SUA CONTA</strong>

<p>Parabéns, {{ label }}!</p>

<p>Agora você faz parte do time DP System
e terá uma gestão bem mais completa e
simplificada da sua clínica ou consultório.</p>

<p>Para finalizar o seu cadastro, basta acessar o link abaixo:</p>
<a href="{{ site_activation }}">ATIVAR EMAIL</a>

<p>Desde já, desejamos as boas vindas.</p>

<p>Qualquer dúvida, não hesite em entrar em contato com nossa equipe.</p>

<p>Estamos à disposição.</p>
<p>Um abraço do time</p>
<p>DP System.</p>
