<body>
	<div style="
				width: 100%;
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
			">
		<div style="
					font-family: Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
					width: 640px;
					height: fit-content;
					margin-top: 8px;
					margin-bottom: 8px;
					background-color: #fdfdfd;
					padding: 24px;
					box-sizing: border-box;
					border: 2px solid #e5e5e5;
				">
			<div style="
						display: flex;
						justify-content: center;
						align-items: center;
						width: 100%;
					">
				<div>
					<img src="cid:logo" alt="Logo DP System" style="
					width: 150px;
						height: 150px;
						margin: auto;
						align-self: center;
						display: block;
						margin-bottom: 20px;
					">
				</div>
			</div>

			<p style="
				padding: 4px;
				background-color: #30589c;
				color: #fff;
				text-align: center;
			">
				<strong>Olá, {{ label }}!</strong>
			</p>

			<div style="font-size: smaller;">
				<p style="text-align: justify; text-indent: 2rem;">
					Recebemos uma nova consulta marcada para o dia <strong>01/10/2023</strong>.
				</p>
				<p style="text-align: justify; text-indent: 2rem;">
					Confira abaixo os dados da consulta:
				</p>
			</div>

			<div style="font-size: smaller; border: 1px solid #e5e5e5; padding: 10px; margin-bottom: 20px;">
				<p style="text-align: justify;">
					<strong>Profissional:</strong> Dr. Fulano de Tal
				</p>
				<p style="text-align: justify;">
					<strong>Paciente:</strong> Fulano de Tal
				</p>
			</div>

			<table style="
				background-color: #fdfdfd;
				border: 1px solid #e5e5e5;
				width: 100%;
				border-collapse: collapse;
				margin-bottom: 20px;
				font-size: 0.8rem;
				border-spacing: 15px 10px;
			">

				<tr>
					<th>Unidade</th>
					<th>Data</th>
					<th>Valor</th>
				</tr>
				<tr style="
				text-align: center !important;
	">
					<td>Nossa Senhora</td>
					<td>01/10/2023</td>
					<td>R$ 300,00</td>
				</tr>

			</table>
			<table style="
						background-color: #fdfdfd;
						border: 1px solid #e5e5e5;
						width: 100%;
						border-collapse: collapse;
						margin-bottom: 20px;
						justify-content: center;
						align-items: center;
						font-size: 0.8rem;
			">
				<caption style="
								padding: 4px;
								background-color: #30589c;
								color: #fff;
								text-align: center;
								font-weight: 700;
					">
					Dados da Consulta
				</caption>
				<tr>
					<th>Procedimento</th>
					<th>Quantidade Solicitada</th>
					<th>Valor</th>
				</tr>
				<tr style="
							text-align: center !important;
				">
					<td>Procedimento 1</td>
					<td>1</td>
					<td>R$ 100,00</td>
				</tr>

				<tr style="
							text-align: center;
				">
					<td>Procedimento 1</td>
					<td>1</td>
					<td>R$ 100,00</td>
				</tr>

				<tr style="
							text-align: center;
				">
					<td>Procedimento 1</td>
					<td>1</td>
					<td>R$ 100,00</td>
				</tr>
			</table>
			<div style="
				font-size: small;
			">
				<p style="text-align: center; font-weight: 600;"> Este é um e-mail automático, favor não responder.</p>
				<p style="text-align: center;">Desde já, agradecemos.</p>
				<p style="text-align: center;">Qualquer dúvida, não hesite em entrar em contato com nossa equipe.</p>
				<p style="text-align: center;">Estamos à disposição.</p>
				<p style="text-align: center;">Um abraço do time, </p>
				<p style="text-align: center;">Atenciosamente,</p>
				<p style="text-align: center; font-size: large;"><strong>DP System.</strong></p>
			</div>
		</div>
</body>

<style>
	table {
		border-collapse: collapse;
	}

	th,
	td {
		padding: 8px;
	}
</style>